.side-nav{
    font-size: $fs-base;
    font-weight: $fw-medium;
    letter-spacing: $ls-default;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-large) {
        display: flex;
        margin: 0;
    }

    &__item{
        position: relative;

        @media only screen and (max-width: $bp-large) {
            flex: 1;
        }

        &:not(:last-child){
            margin-bottom: 1rem;

            @media only screen and (max-width: $bp-large) {
                margin-bottom: 0;
            }
        }
    }

    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-image: linear-gradient(to right, $color-pink-4, $color-pink-3);
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,-0.01,0,1.01) .2s,
                    background-image .1s;
    }

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before{
        // background-color: $color-pink-4;
        background-image: linear-gradient(to right, $color-pink-4, $color-pink-3);
    }

    &__link:link,
    &__link:visited{
        color: $color-grey;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 2rem 5.2rem;
        position: relative;
        z-index: 20;

        display: flex;
        align-items: center;

        transition: margin-left .4s cubic-bezier(1,-0.01,0,1.01) .2s,;

        @media only screen and (max-width: $bp-large) {
            display: flex;
            justify-content: center;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1.5rem .5rem;
            align-content: center;
        }


        &:hover{
            margin-left: 1.5rem;

            @media only screen and (max-width: $bp-large) {
                margin-left: 0;
            }
        }

    }

    

    &__icon{
        height: 1.75rem;
        width: 1.75rem;
        fill: currentColor;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__itemName{
        @media only screen and (max-width: $bp-small-1) {
            font-size: $fs-caption;
        }
    }
}

.copyright{
    color: $color-white;
    font-size: $fs-caption;
    text-align: center;
    padding: 3rem;

    @media only screen and (max-width: $bp-large) {
        color: $color-dark-3;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%);
    }
}